<br>
<br>
{{#each massges }}
<div style="background-color: tomato;">
    <p>
        {{this}}
    </p>
</div>

    
{{/each}}
<br>
<form action="Suinup" method="post">
    <h1>Suinup</h1>
    <br> 
    <label>Email</label>       
    <input type="email" name="email">
    <br>
    <label>Password</label>
    <input type="password" name="password">
    <br>
    <label>ConsarmPassword</label>
    <input type="password" name="consarmPassword">
    <button type="submit">Suinup</button>
</form>