{{#each massges }}
<div style="background-color: tomato;">
    <p>
        {{this}}
    </p>
</div>

    
{{/each}}
<br>
<br>
<form action="Suinin" method="post">
    <h1>Suinin</h1>
    <br> 
    <label>Email</label>       
    <input type="email" name="email">
    <br>
    <label>Password</label>
    <input type="password" name="password">
    <br>
    <button type="submit">Suinin</button>
</form>